.slideshow.container {
  flex-flow: column;
}

.slider {
  display: inline-block;
  height: 700px;
  width: 1200px;
  position: relative;
  white-space: nowrap;
  margin-left: 250px;
  overflow: hidden;
}

.slider-wrapper {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.slider-arrows {
  display: flex;
  justify-content: space-around;
}
